<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h4 class="modal-title">Share email</h4>

    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="shareEmail" class="form-control-label">Share to this email:</label>
        <input
          type="email"
          class="form-control"
          name="shareEmail"
          id="shareEmail"
        />
      </div>

      <div class="form-group">
          <label for="shareEmail" class="form-control-label">Or share this url:</label>
          <br />
          <a [routerLink]="'/speeches/' + speech.id"> /speeches/{{speech.id}} </a>
        </div>

      <button type="submit" class="btn btn-outline-dark" (click)="onShare(); c()">
        Send
      </button>
    </form>
  </div>
</ng-template>


<form class="speech-form-container" #speechForm="ngForm" *ngIf="speech">
<!-- Title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      required
      placeholder="Speech title"
      [(ngModel)]="speech.title"
      #title="ngModel"
    >
    <div [hidden]="title.valid || text.pristine" class="alert alert-danger">
      Title is required
    </div>
  </div>

<!-- Content -->
  <div class="form-group">
    <label for="text">Content</label>
    <textarea
      name="text"
      id="text"
      class="form-control speech-form-textarea"
      required
      placeholder="Speech content"
      [(ngModel)]="speech.text"
      #text="ngModel"
    ></textarea>
    <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
      Content is required
    </div>
  </div>

  <div class="d-flex justify-content-between">
  <!-- Author -->
    <div class="form-group w-50">
      <input
        type="text"
        name="author"
        id="author"
        class="form-control"
        required
        placeholder="Author"
        [(ngModel)]="speech.author"
        #author="ngModel"
      >
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        Author is required
      </div>
    </div>

  <!-- Keywords -->
    <div class="form-group w-50">
      <input
        type="text"
        name="keywords"
        id="keywords"
        class="form-control"
        required
        placeholder="keywords"
        [(ngModel)]="speech.keywords"
        #keywords="ngModel"
      >
    </div>

  <!-- Date -->
    <div class="form-group w-50">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="date"
          [(ngModel)]="speech.date" n
          ngbDatepicker
          required
          #d="ngbDatepicker"
        >
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <img src="/assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button
      class="btn btn-danger"
      *ngIf="!isNew"
      (click)="onDelete($event)"
    >
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-primary ml-2"
      [disabled]="!speechForm.valid"
      (click)="onSave($event)"
    >
      Save
    </button>

    <button
      class="btn ml-2 mr-2"
      *ngIf="!isNew"
      (click)="openModal(content)"
    >
      Share
    </button>
  </div>
</form>
